.App {
  text-align: left;
  background: #C5D5E4;
  height: 100vh;
}

body {
  height: 100%;
}

.sidebar_menu {
  background-color: #304D6D;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 800px;
  width: 30%;
}

.content_box {
  padding-top: 70px;
  max-width: 1500px;
  margin: auto;
  display: flex;
}

.highlight_box {
  background: #82A0BC;
  padding: 20px;
  width: 70%;
}