.card {
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    /*min-width: 350px;*/
    border-color: gray;
}

.invite_img {
    height: 80px;
    width: 80px;
    border-radius: 25px;
    border: solid;
}

.invite_img_box {
    padding: 5px;
    align-content: center;
    justify-content: center;
}